@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    
}

#container {
    display: flex;
}


.sidebar-container {
    border: 1px solid red;
}

.sidebar-container > img[alt="sidebar-image"] {
    max-width: 35vw;
    height: 100vh;
}

.rhs-container {
    border: 10px solid green;
}