@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

input {
    max-width: 100%;
    font-size: 100%;
}

#container {
    display: flex;
}


.sidebar-container {
    border: 1px solid red;
}

/* Come back here for responsiveness */
.sidebar-container > img[alt="sidebar-image"] {
    max-width: 45vw;
    height: 100vh;
}

.rhs-container {
    border: 4px solid green;
}

.introduction {
    border: 2px solid orange;
    padding: 150px 150px 0px 40px; 
    background-color: #F9FAFB;
}

h3 + h3 {
    margin-top: 20px;
    margin-bottom: 50px;
}

form {
    padding: 40px;  
}

.basic-details, .contact-details, .passwords {
    display: flex;
    gap: 70px;
    /* border: 5px solid black; */
}
    
label {
    display: block;
}

