@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

input {
    /* max-width: 100%; */
    font-size: 100%;
    outline: none;
    /* appearance: none; */
}

#container {
    display: flex;
}


.sidebar-container {
    background-image: url(./images/side-image.jpg);
    background-size: cover;
    width: 37%;
    position: relative;

}

.sidebar-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px; 
    background-color: rgb(0 0 0 / 0.4); 
    height: 170px;
    width: 100%;
}

.logo-container > [alt="sidebar-logo"] {
    height: 130px;
    width: 100px;
}

.logo-container > :nth-child(2) {
    font-family: norse-bold, sans-serif;
    color: whitesmoke;
    font-size: 7rem;
}

.image-credits {
    position: absolute;
    bottom: 10px;
    left: 22%;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-credits > a {
    color: antiquewhite;
}

.image-credits > a:hover {
    color: white;
    text-decoration: underline;
}

.rhs-container {

    width: 63%
}

.rhs-container h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}



.introduction {
    padding: 100px 150px 5px 40px; 
    background-color: #F9FAFB;
}
/* Some magic is happening here between the padding bottom (5px)
of the .introduction and the margin bottom (30px)of the 3rd h3 of the
.introduction. If the padding bottom is 0px, the space will be gone
but if it is anything above that, it seems to choose the larger value
between the padding top and the margin bottom. Research about this! */
.introduction > h3:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* form */

form {
    padding: 15px 40px 40px; 
    height: 360px;
}


form > :nth-child(2) {
    color: red;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
}

.basic-details, .contact-details, .passwords {
    display: flex;
    gap: 100px;
}
    
label {
    display: block;
    margin: 1rem 0 0.2rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 0.82rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
   

}

label + input {
    width: min(270px, 100%);
    padding: 10px;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
}

.button-div {
    /* border: 5px solid blue; */
    padding-left: 40px;
    background-color: #F9FAFB;
    height: calc(100vh - 400px);
    box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
    -webkit-box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
    -moz-box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
}

button {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: #596D48;
    padding: 10px 40px;
    margin: 2.5rem 0 1.5rem 0;
    border: none;
    border-radius: 5px;  
    box-shadow: 2px 5px 5px 0px rgba(198,186,186,0.75);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(198,186,186,0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(198,186,186,0.75);
}


input:focus:required {
    border: 2px solid red;
    background-color: transparent;
}

input:invalid {
    border: 2px solid red;
    background-color: rgb(185 35 38 / 0.25);
}

input:focus:invalid {
    border: 2px solid red;
    background-color: transparent
}

label:has(+ input:invalid) {
    color: red;
}

input:valid {
    border-color: green;
    background-color: rgb(139 195 75 / 0.25)
}

input:focus:valid {
    border: 2px solid green;
    background-color: transparent;
}

label:has(+ input:valid) {
    color: green;
}

input:placeholder-shown {
    background-color: transparent;
    border: 1px solid rgb(209, 205, 205);
}

label:has(+ input:invalid:placeholder-shown),
label:has(+ input:valid:placeholder-shown) {
    color: rgb(75, 75, 75);
}

.button-div > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    font-weight: bolder;
}

button:hover {
    background-color: transparent;
    border: 1px solid #596D48;
    color: #596D48;
    box-shadow: none;
}

button+p > a {
    color: #596D48;
    text-decoration: none;
}

p > a:hover {
    color: #354429
}

#pass-match-info {
    display: block;
    font-size: 0.9rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

